/*
Error: Invalid CSS after "...ort 'libs/vars'": expected "{", was ";"
        on line 2 of /Users/Miki_Air/Documents/OfficialWebsite/assets/sass/ie8.scss

1: <<<<<<< HEAD
2: @import 'libs/vars';
3: @import 'libs/functions';
4: @import 'libs/mixins';
5: @import 'libs/skel';
6: 
7: /*

Backtrace:
/Users/Miki_Air/Documents/OfficialWebsite/assets/sass/ie8.scss:2
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/Applications/Fire.app/Contents/Java/fire-app.jar!/hook/compass_patch.rb:132:in `update_stylesheet'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1/lib/listen/listener.rb:252:in `on_change'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1/lib/listen/adapter.rb:252:in `report_changes'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-1.3.1/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ort 'libs/vars'\": expected \"{\", was \";\"\A         on line 2 of /Users/Miki_Air/Documents/OfficialWebsite/assets/sass/ie8.scss\A \A 1: <<<<<<< HEAD\A 2: @import 'libs/vars';\A 3: @import 'libs/functions';\A 4: @import 'libs/mixins';\A 5: @import 'libs/skel';\A 6: \A 7: /*"; }
